.DS_Store
node_modules
bruno
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
drizzle
/python/__pycache__
/python/log
/python/venv
/python/test.py